@import url('fonts/open-sans.css');
@import url('fonts/FontAwesome/css/all.min.css');

/***********************************************************************************************************************/
/* Main layout
/***********************************************************************************************************************/
body {
	margin: 0;
	background-color: #eee;
	background-image: url("luma_bg.png");
	background-attachment: fixed;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

a {
	color: #a20000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

b {
	font-weight: 700;
}

header {
	top: 0;
	margin: 0;
}

.logo {
	background: #8e2e2e url("luma_header.png") top left repeat-x;
	border-bottom: 1px solid #880000;
}

.logowrapper {
	width: 85%;
	margin: auto;
	padding: 24px;
}

.navigation {
	background: #0f0f0f url("luma_navigation.png") repeat-x;
	border-top: 1px solid #444;
	border-bottom: 1px solid #000;
	color: white;
	font-weight: 700;
	font-size: 16px;
}

.navigationwrapper {
	margin-left: 100px;
	margin-right: 100px;
	padding: 8px;
}

.navigation a {
	color: #f88;
	text-decoration: none;
}

footer {
    width: 100%;
	left: 0;
	bottom: 0;
}

.copyright {
	background: #efefef;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	color: #333;
	font-size: 12px;
}

.copyrightwrapper {
	width: 85%;
	margin: auto;
	padding: 12px;
}

.contents {
	margin: 30px 150px;
}

h1, h2, h3, h4, h5 {
	margin-top: 24px;
	margin-bottom: 0px;
}


/***********************************************************************************************************************/
/* Main page stuff
/***********************************************************************************************************************/
.communityTitle {
	font-weight: bold;
	font-size: 28px;
	text-align: center;
}

.overview {
	margin: 40px 20%;
}

.nounderline:hover {
	text-decoration: none;
}

.linkbox {
	margin: 20px;
	overflow: hidden;
	background-color: rgba(224, 224, 224, 0.5);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	border: 1px solid #A8A8A8;
	border-radius: 12px;
	padding: 20px 60px;
}

.linkbox:hover {
	box-shadow: 0 0 3px 3px rgba(22, 22, 22, 0.25);
	transform: scale(1.025, 1.025);
}

.linkbox h3 {
	font-size: 28px;
	font-weight: 300;
	color: #a20000;
}

.linkbox p {
	font-size: 18px;
	color: #222;
}

.contentbox {
	background: #efefef;
	border: 1px solid #bbb;
	border-radius: 5px;
}


/***********************************************************************************************************************/
/* Overview elements
/***********************************************************************************************************************/
.pagelist {
	width: 100%;
	margin: auto auto;
	border: 1px solid #ccc;
	border-radius: 7px;
	border-spacing: 0px;
	padding: 0px;
	font-size: 15px;
	text-align: left;
}

.pagelist thead td {
	background: #8e2e2e url("luma_thead.png") top left repeat-x;
	border-bottom: 1px solid #880000;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 8px;
	font-weight: 700;
	color: #fff;
}

.pagelist tbody th {
	background: #0f0f0f url("luma_th.png") repeat-x;
	padding: 6px;
	font-weight: 700;
	color: #fff;
}

.pagelist tbody td {
	border: 1px solid #ddd;
	padding: 8px;
}

.pagelist tbody tr:nth-child(odd) {
	background: #f5f5f5;
}


.pagelist tbody tr:nth-child(even) {
	background: #efefef;
}


/***********************************************************************************************************************/
/* Special elements
/***********************************************************************************************************************/
.guide-contents {
	margin: 20px auto 20px auto;
	padding: 20px;
	min-width: 600px;
	max-width: 1024px;
}

.guide-wrapper {
	display: flex;
	align-items: flex-start;
}

.guides-toc {
	background: #efefef;
	border-right: 1px solid #bbb;
	padding: 5px;
	min-width: 300px;
	max-width: 400px;
}

.modpreview {
	width: 160px;
	height: 88px;
}

.baseGameIcon {
	border-radius: 8px;
}

.todo {
	font-style: italic;
	color: orange;
}

.mdtable {
	color: #0f0f0f;
}